@import "./vars.scss";
footer {
  & .color-b {
    background-color: black;
    min-height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .foot-text {
      min-height: 260px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      & h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #fefefe;
      }

      & p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #b9b9b9;
        line-height: 27px;
      }

      & h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #b9b9b9;
      }

      & .logos {
        position: relative;
        width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
          &:nth-child(1) {
            border: 3px solid #39599f;
          }
          &:nth-child(2) {
            border: 3px solid #cc212c;
          }
          &:nth-child(3) {
            border: 3px solid #45b0e3;
          }
          &:nth-child(4) {
            border: 3px solid #d97ab0;
          }
          &:nth-child(5) {
            border: 3px solid #f8902e;
          }

          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 10px;
          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
