@import "./vars.scss";
header {
  position: relative;
  min-height: 10vh;
  display: flex;
  align-items: center;
  & .ul-list {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    & a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: normal;
      font-style: normal;
      color: $link;
      text-decoration: none;
      transition: 0.2s ease;
      &:hover {
        color: #57a4a4;
      }
    }
  }
}
