@import "./mixin.scss";
@import "./vars.scss";
@import "./media.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./global.scss";

.bck-img-block {
  position: relative;
  width: 1000px;
  margin: 15px auto 55px auto;

  & .imgBx {
    position: relative;
    height: 550px;
    & img {
      @include absolute();
      object-fit: cover;
    }
  }
}

.posts {
  max-width: 1000px;
  margin: 0 auto;
  & span {
    display: inline-block;
    color: $link;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.wrapper-Bx {
  display: flex;
  flex-wrap: wrap;
  & .wrapper-img-text {
    flex-basis: 1;
    flex-basis: 450px;
    display: flex;
    flex-direction: row;
    margin-right: 35px;
    margin-bottom: 35px;
    & .imgBx {
      position: relative;
      width: 222px;
      height: 105px;
      & img {
        @include absolute();
        object-fit: cover;
      }
    }
    & .wrapper-text {
      padding-left: 15px;
      & h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: $link;
        margin-bottom: 10px;
      }
      & h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: $title-color;
        margin-bottom: 10px;
      }
      & p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $p-color;
        line-height: 20px;
      }
    }
  }
}
.color {
  background: #f7f7f7;
}
.photo-wrapper {
  position: relative;
  margin-top: 40px;
  min-height: 355px;
  max-width: 1000px;
  margin: 0 auto;

  & .box-text {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    & h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      color: $link;
    }

    & h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      color: $link;
    }
  }

  & .wrapper-ph {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    & .imgBx {
      margin: 0 5px;
      position: relative;
      flex-grow: 1;
      flex-basis: 190px;
      height: 200px;

      & img {
        @include absolute();
        object-fit: cover;
      }
    }
  }
}
