@import "./vars.scss";
@media (max-width: 1056px) {
  .bck-img-block {
    width: 800px;
    margin: 15px auto 55px auto;
    & .imgBx {
      height: 290px;
    }
  }
  header {
    & .ul-list {
      width: 650px;
      margin: 0 auto;
      padding: 0px 15px 0px 15px;
      & a {
        font-size: 10px;
      }
    }
  }
  .posts {
    width: 800px;
    & .wrapper-Bx .wrapper-img-text {
      flex-basis: 600px;
    }
  }
}
@media (max-width: 830px) {
  .posts {
    width: 600px;
    & .wrapper-Bx .wrapper-img-text {
      flex-basis: 400px;
    }
  }
  .bck-img-block {
    width: 600px;
    margin: 15px auto 55px auto;
    & .imgBx {
      height: 250px;
    }
  }
  .photo-wrapper {
    position: relative;
    margin-top: 30px;
    min-height: 355px;
    max-width: 600px;
    & h3 {
      font-size: 12px;
    }
    & h3 {
      display: none;
    }
    & .wrapper-ph {
      & .imgBx {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .posts {
    width: 400px;
    & .wrapper-Bx .wrapper-img-text {
      flex-basis: 400px;
    }
  }
  .bck-img-block {
    width: 420px;
    margin: 7px auto 25px auto;
    & .imgBx {
      height: 200px;
    }
  }
  header {
    min-height: 6.5vh;

    & .ul-list {
      width: 400px;
      margin: 0 auto;
      padding: 0px 7px 0px 7px;
      & a {
        font-size: 7px;
      }
    }
  }
  .photo-wrapper {
    position: relative;
    margin-top: 30px;
    min-height: 320px;
    max-width: 400px;
    & h2 {
      font-size: 10px;
    }
    & h3 {
      display: none;
    }
    & .wrapper-ph {
      & .imgBx {
        flex-basis: 160px;
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  footer {
    & .color-b {
      & .foot-text {
        width: 500px;
        margin: 0 auto;
        & h3 {
          font-size: 12px;
          text-align: center;
          line-height: 25px;
        }
        & h2,
        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 440px) {
  header {
    min-height: 8vh;
    & .ul-list {
      width: 300px;
      margin: 0 auto;
      padding: 0px 7px 0px 7px;
      & a {
        font-size: 6px;
      }
    }
  }
  .posts {
    width: 70%;
    margin: 15px auto;
    & .wrapper-Bx .wrapper-img-text {
      flex-basis: 150px;
      flex-direction: column;
      margin-right: 0;
      & p {
        display: none;
      }
      & h3 {
        margin-top: 15px;
      }
      & .wrapper-text {
        padding-left: 0px;
      }
    }
  }
  .bck-img-block {
    width: 320px;
    margin: 7px auto 25px auto;
    & .imgBx {
      height: 150px;
    }
  }
  .photo-wrapper {
    position: relative;
    margin-top: 20px;
    min-height: 280px;
    max-width: 280px;
    & .box-text {
      & h2 {
        font-size: 12px;
      }
      & h3 {
        display: none;
      }
    }

    & .wrapper-ph {
      & .imgBx {
        flex-basis: 140px;
        margin-bottom: 40px;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
  footer {
    & .color-b {
      & .foot-text {
        width: 320px;
        margin: 0 auto;
        & h3 {
          font-size: 11px;
          text-align: center;
          line-height: 23px;
        }
        & h2,
        p {
          font-size: 11px;
        }
      }
    }
  }
  footer {
    & .color-b {
      & .foot-text .logos {
        width: 180px;
        & .logo {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  header {
    min-height: 8vh;
    & .burger {
      position: absolute;
      right: 30px;
      bottom: 5px;
      width: 30px;
      height: 30px;
      background: #000;
      z-index: 100;
      cursor: pointer;

      & .line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        border-radius: 10px;
        height: 2.25px;
        background-color: white;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        &:nth-child(1) {
          position: absolute;
          top: 35%;
          left: 50%;
        }
        &:nth-child(3) {
          position: absolute;
          top: 65%;
          left: 50%;
        }
      }
      & .line1Active {
        display: inline-block;
        transform: rotateZ(45deg) translate(-21%, 375%);
      }
      & .line3Active {
        display: inline-block;
        transform: rotateZ(-45deg) translate(-13%, -493%);
      }
      & .line2Active {
        opacity: 0;
      }
    }

    & .ul-list {
      position: absolute;
      right: 30px;
      bottom: -180px;
      width: 110px;
      height: 185px;
      flex-direction: column;
      justify-content: space-around;
      background: #f5f5f5;
      z-index: 100;
      transition: all 0.3s ease;
      transform-origin: top left;
      transform: scaleY(0);
      & a {
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
      }
    }
    & .toggle-ul-list {
      transform: scaleY(1);
    }
  }
}
@media (max-width: 330px) {
  .bck-img-block {
    width: 200px;
    margin: 7px auto 20px auto;
    & .imgBx {
      height: 90px;
    }
  }
  footer {
    & .color-b {
      min-height: 270px;
      & .foot-text {
        width: 270px;
        margin: 0 auto;
        & h3 {
          font-size: 10px;
          text-align: center;
          line-height: 17px;
        }
        & h2,
        p {
          font-size: 10px;
        }
      }
    }
  }
}
